*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    background: #03dfff;
    background: black;
}
.container{
    position:relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.addTask{
    width:100%;
    display:flex;
    padding: 10px 0;
}
.addTask > input[type="text"]{
    width:90%;
    color:#fff5f5;
    border:none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline:none;
}
.addTask button{
    margin:0 10px;
    background: #222;
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.notCompleted,.Completed{
    margin:5px 0;
    padding: 20px;
}
h2{
    font-size:28px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    width: 100%;
    padding:18px;
    margin:5px 0;
    background: #ff0000bb;
    font-size: 22px;
    counter-increment: my-counter;
}
ol.Completed li{
 background: #23b944;
}
ol li::before{
    content:counter(my-counter);
    background: #f7f7f7; 
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color:#000000;
    margin-right: 0.5rem;

}
li button{
    float:right;
    padding:9px;
    font-size: 18px;
    line-height: 10px;
    margin-right: 15px;
      
    border:none;
    outline:none;
    cursor: pointer;
}